body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color:white;
}
 
header { 
    color: white;
    background-color:azure;
    
    
}

 header .welcome {
   
    background-color: green;
    padding: 5px 10px;
    
    
 }
 header .welcome a{
    color:rgb(224, 223, 223);
    margin-left: 10px;
}

.welcome p{
   text-align: right;
   margin-left: 600px;
}

 header .header-content {  
    background-color: rgb(3, 114, 3);
    padding:10px  ; 
    
    
 }
 
 header .header-content h1,p{
   display:inline;
   
 }

 header nav{
    display: block;
    background-color: rgb(4, 158, 4);
    padding:10px;

 }
 header nav a{
    color:black;
    text-decoration: none;
    margin-left: 30px;
    font-weight:bolder;
    text-transform: uppercase;
   
   
 }
 main{
    float: left;
    background-color: white;
 }

 aside{
   float: right;
   background-color: antiquewhite;
   padding: 20px;
}
 
 section h2{
    color: black; 
   
 }
 section a{
    text-decoration: none;
    color:rgb(5, 182, 123);
 }
 

 footer {
    clear: both;
    background-color: rgb(3, 104, 3);
    color: white;
    padding:5px 0;
    margin: 0;
   
    
    

 }
 .footer-content{
   display:flex;
 }

 .footer-links{
   padding-right: 100px;

 }
 .footer-social{
   text-align:center; 
 }
 .copy{
   text-align: right;
   margin-left: 500px; 
   
}

 